# Introduction to Python and git/github
Can you open this notebook?  <br>
You should install the following applications.  <br> 
- git/github
- sourcetree (GUI for git/github)
- anaconda (for opening jupyter notebook)  or Docker.

# Basics of Python

## Arithmatic operation

In [1]:
a = 1
print(a)

1

In [2]:
a

1

In [3]:
a = 1 + 2 
b = 1 - 4 
c = 1 * 3
d = 1 / 4
print(a,b,c,d)

3 -3 3 0.25

### Problem.

In [4]:
"""Git answers below. 
1 + 2*3 - 4/10 + 1 
"""
a = 1 
print(a)

1

## Variables

In [5]:
a = 1 + 3 
b = 4 + 7 
c = a + b 
d = a - c 
print(d)

-11

In [6]:
a = 1 
print(a)
b = 3 
a = a +  b
print(a)

1
4

## For

In [7]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Problem
Calculate and output, i*5 from i = 1 to 20

In [11]:
for i in range(1,21):
    print(i*5)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## String

In [9]:
s = "funny funny "
print(s + s )

funny funny funny funny

In [10]:
print(s[0], s[1], s[2], s[3], s[4])

f u n n y

## List

In [12]:
l = [1, 2, 3]
l2 = [ 1, "a", "b"]

In [13]:
l

[1, 2, 3]

In [14]:
l2

[1, 'a', 'b']

In [15]:
# can use for. 
for ll in l:
    print(ll)

1
2
3

In [16]:
# add element 
l.append(4)
l.append("str")
l

[1, 2, 3, 4, 'str']

### Problem 
write fibonacci from 1 to 100

In [19]:
num = []
for i in range(1, 101):
    num.append(i)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [25]:
a = 1 
b = 1 
res = [a,b ]
for i in range(98):
    c = a + b 
    a = b
    b = c 
    res.append(c)
print(res)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075]

In [28]:
num_2 = []
for i in range(10):
    for j in range(10):
        num_2.append(j)
print(num_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
l = [j for i in range(10) for j in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Pandas

In [31]:
import numpy as np 
import pandas as pd

In [32]:
df = pd.DataFrame({
    "a":[0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0],
    "b":[1, 0, 2, 5, 4, 5, 2, 5, 1, 3, 2],
    "c":["test1",  "test2", "test3", "test1", np.nan, "test2", "test2", 2, 2, "test2", 2]
    })
display(df)

    a  b      c
0   0  1  test1
1   1  0  test2
2   0  2  test3
3   1  5  test1
4   1  4    NaN
5   1  5  test2
6   1  2  test2
7   0  5      2
8   1  1      2
9   1  3  test2
10  0  2      2

In [33]:
df["a"].value_counts()

1    7
0    4
Name: a, dtype: int64

In [34]:
df["a"].unique()

array([0, 1])

In [35]:
df["b"].value_counts()

2    3
5    3
1    2
0    1
3    1
4    1
Name: b, dtype: int64

In [38]:
df["c"].value_counts(dropna = False)

test2    4
2        3
test1    2
NaN      1
test3    1
Name: c, dtype: int64

In [46]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [47]:
for c in df.columns:
    print("="*50)
    print(f"Columns name is {c}")
    print(df["c"].value_counts())

==================================================
Columns name is a
test2    4
2        3
test1    2
test3    1
Name: c, dtype: int64
==================================================
Columns name is b
test2    4
2        3
test1    2
test3    1
Name: c, dtype: int64
==================================================
Columns name is c
test2    4
2        3
test1    2
test3    1
Name: c, dtype: int64

### Problem
Explore "b" and "c" columns

## simple cross tab

In [76]:
table = pd.crosstab(df["a"], df["c"])
display(table)
print(table.to_csv())

c  2  test1  test2  test3
a
0  2      1      0      1
1  1      1      4      0

a,2,test1,test2,test3
0,2,1,0,1
1,1,1,4,0

In [50]:
pd.crosstab(df["b"], df["c"])

c  2  test1  test2  test3
b
0  0      0      1      0
1  1      1      0      0
2  1      0      1      1
3  0      0      1      0
5  1      1      1      0

In [62]:
for i in df.columns:
    print("="*50)
    print(f"a and {i}")
    table = display(pd.crosstab(df["a"], df[i]))
    table_per = pd.crosstab(df["a"], df[i], normalize='index')*100
    #display(table)
    table_concat=table.astype(str)+"("+table_per.astype(str)+")"
    display(table_concat)
    #display(table_per.round(2))

ValueError: Must specify a fill 'value' or 'method'.

In [157]:
df = pd.DataFrame({
    "x": np.random.randint(low=0,high=4,size=1000),
    "y": np.random.randint(low=10, high=14, size=1000),
    "z": np.random.randint(low=1000, high=1005, size=1000)
    })

In [158]:
df

     x   y     z
0    3  10  1000
1    0  11  1004
2    0  10  1000
3    3  11  1000
4    1  11  1003
..  ..  ..   ...
995  3  13  1004
996  3  11  1003
997  0  13  1002
998  1  10  1002
999  2  13  1001

[1000 rows x 3 columns]

In [159]:
table = pd.crosstab(df["x"], df["y"])
display(table)

y  10  11  12  13
x
0  56  71  66  69
1  72  44  64  71
2  51  72  75  60
3  67  55  59  48

In [160]:
table_per = pd.crosstab(df["x"], df["y"], normalize=0)
display(table_per)
table_per.sum(axis=1)

y        10        11        12        13
x
0  0.213740  0.270992  0.251908  0.263359
1  0.286853  0.175299  0.254980  0.282869
2  0.197674  0.279070  0.290698  0.232558
3  0.292576  0.240175  0.257642  0.209607

x
0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

### Tips 
get multiple tables to one sheet.

In [161]:
df.columns

Index(['x', 'y', 'z'], dtype='object')

In [162]:
cols = ['x', 'y', 'z']

In [163]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [167]:
s = ""

table = pd.crosstab(df["x"], df["y"])
display(table)
s += "x v.s. y\n"
s += table.to_csv()
s += "\n"

table = pd.crosstab(df["y"], df["z"])
display(table)
s += "y v.s. z\n"
s += table.to_csv()
s += "\n"

table = pd.crosstab(df["x"], df["z"])
display(table)
s += "x v.s. z\n"
s += table.to_csv()
s += "\n"

y  10  11  12  13
x
0  56  71  66  69
1  72  44  64  71
2  51  72  75  60
3  67  55  59  48

z   1000  1001  1002  1003  1004
y
10    55    47    58    40    46
11    39    48    54    43    58
12    45    46    54    62    57
13    51    43    40    56    58

z  1000  1001  1002  1003  1004
x
0    56    42    54    60    50
1    55    41    55    43    57
2    36    56    54    53    59
3    43    45    43    45    53

In [168]:
df["z"]

0      1000
1      1004
2      1000
3      1000
4      1003
       ...
995    1004
996    1003
997    1002
998    1002
999    1001
Name: z, Length: 1000, dtype: int64

In [169]:
print(s)

x v.s. y
x,10,11,12,13
0,56,71,66,69
1,72,44,64,71
2,51,72,75,60
3,67,55,59,48

y v.s. z
y,1000,1001,1002,1003,1004
10,55,47,58,40,46
11,39,48,54,43,58
12,45,46,54,62,57
13,51,43,40,56,58

x v.s. z
x,1000,1001,1002,1003,1004
0,56,42,54,60,50
1,55,41,55,43,57
2,36,56,54,53,59
3,43,45,43,45,53